{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Se connecter!</h1>
    <p>Bienvenue sur la page de connexion!</p>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    {{form_start(form)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        {{form_row(form.submit)}}
    {{form_end(form)}}
{% endblock %}
